.container {
  display: block;
  position: relative;
}
.btn {
  padding: 10px;
  height: 100%;
  width: 100%;
  border: none;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  border: none;
}
.blur {
  filter: blur(10px);
}
.green {
  background: linear-gradient(90deg, #9aff8a 0%, #8affe3 100%);
  border-radius: 10px;
}

.red {
  background: linear-gradient(90deg, #f77c7c 0%, #fff48e 100%);
  border-radius: 10px;
}

.violet {
  background: linear-gradient(90deg, #99a9ff 0%, #d886ff 100%);
  border-radius: 10px;
}

.pink {
  background: linear-gradient(90deg, #ff9797 0%, #ff96d5 93.75%);
  border-radius: 10px;
}
