<header>
  <div id="nav" class="navbar navbar-dark shadow-sm">
    <button
      style="color: rgb(0, 0, 0); background-color: transparent"
      class="navbar-brand align-item-center d-flex"
      routerLink="home"
      class="btn"
    >
      &nbsp;<i style="font-size: 30px" class="fa fa-bus">&nbsp; </i>
      <strong style="font-size: 25px">Air Bus</strong>
    </button>
    <ng-container *ngIf="!userService.isLoggedIn">
      <button
        style="color: rgb(0, 0, 0); background-color: transparent"
        routerLink="login"
        class="btn"
        style="position: absolute; right: 200px"
      >
        <i style="font-size: 20px" class="fa fa-sign-in">&nbsp; </i>
        <strong style="font-size: 18px">Sign In</strong>
      </button>
      <button
        style="color: rgb(0, 0, 0); background-color: transparent"
        routerLink="register"
        class="btn"
        style="position: absolute; right: 50px"
      >
        <i style="font-size: 20px" class="fa fa-user-plus">&nbsp; </i>
        <strong style="font-size: 18px">Sign Up</strong>
      </button>
    </ng-container>

    <ng-container *ngIf="userService.isLoggedIn">
      <ng-container *ngIf="userService.isAdminIn">
        <button
          style="color: rgb(0, 0, 0); background-color: transparent"
          routerLink="admin/buses"
          class="btn"
          style="position: absolute; right: 250px"
        >
          <i style="font-size: 20px" class="fa fa-bus">&nbsp; </i>
          <strong style="font-size: 18px">Buses</strong>
        </button>
        <button
          style="color: rgb(0, 0, 0); background-color: transparent"
          routerLink="admin/stops"
          class="btn"
          style="position: absolute; right: 160px"
        >
          <i style="font-size: 20px" class="fa fa-map-marker">&nbsp; </i>
          <strong style="font-size: 18px">Stops</strong>
        </button>
      </ng-container>
      <ng-container *ngIf="!userService.isAdminIn">
        <button
          style="color: rgb(0, 0, 0); background-color: transparent"
          routerLink="user/search"
          class="btn"
          style="position: absolute; right: 250px"
        >
          <i style="font-size: 20px" class="fa fa-search">&nbsp; </i>
          <strong style="font-size: 18px">Search</strong>
        </button>
        <button
          style="color: rgb(0, 0, 0); background-color: transparent"
          routerLink="user/track"
          class="btn"
          style="position: absolute; right: 160px"
        >
          <i style="font-size: 20px" class="fa fa-map">&nbsp; </i>
          <strong style="font-size: 18px">Track</strong>
        </button>
      </ng-container>
      <button
        style="color: rgb(0, 0, 0); background-color: transparent"
        routerLink="login"
        class="btn"
        style="position: absolute; right: 50px"
        (click)="signOut()"
      >
        <i style="font-size: 20px" class="fa fa-sign-out">&nbsp; </i>
        <strong style="font-size: 18px">Sign Out</strong>
      </button>
    </ng-container>
  </div>
</header>
