<div class="container py-3 h-80">
  <div class="row d-flex justify-content-center h-100">
    <div class="col-12 col-md-10 col-lg-8 col-xl-10">
      <div
        class="card shadow-2-strong"
        style="border-radius: 1rem; background-color: rgba(238, 238, 238, 0.6)"
      >
        <div align="center">
          <div class="card-body">
            <h1 align="left">Stop</h1>
            <form #Form="ngForm" (ngSubmit)="onSubmit(Form)">
              <div class="mb-2">
                <div align="left" style="padding-left: 85px; font-size: 20px">
                  Search Stop
                </div>
                <input
                  type="text"
                  name="stopName"
                  ngModel
                  class="col-md-10"
                  style="border-radius: 0.3rem; height: 50px"
                  required
                />
              </div>

              <button
                style="
                  border-radius: 0.3rem;
                  height: 50px;
                  margin-top: 3px;
                  margin-right: 2px;
                  font-size: 20px;
                  color: rgb(0, 0, 0);
                  background-color: transparent;
                "
                (click)="getStopsListData(Form)"
                class="btn btn-dark mb-2 col-md-5"
                type="submit"
                [disabled]="!Form.valid"
                class="btn btn-dark mb-2 col-md-5"
                type="submit"
              >
                Search
              </button>

              <button
                style="
                  border-radius: 0.3rem;
                  height: 50px;
                  margin-top: -5px;
                  margin-left: 2px;
                  font-size: 20px;
                  color: rgb(0, 0, 0);
                  background-color: transparent;
                "
                class="btn btn-dark col-md-5"
                type="button"
              >
                Add
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-3 h-80">
  <div class="row d-flex justify-content-center h-100">
    <div class="col-12 col-md-10 col-lg-8 col-xl-10">
      <div
        class="card shadow-2-strong"
        style="border-radius: 1rem; background-color: rgba(238, 238, 238, 0.6)"
      >
        <div align="center">
          <div class="card-body">
            <h1 align="left">Result</h1>
            <div align="center">
              <table class="col-md-4" *ngIf="stopService.Stops">
                <thead>
                  <tr>
                    <th>Stop</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Stop of stopService.Stops">
                    <td>{{ Stop.name }}</td>
                    <td>
                      <a (click)="onEdit(Stop)">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                    <td>
                      <a (click)="onDelete(Stop._id)">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
