<div class="container py-3 h-80">
  <div class="row d-flex justify-content-center h-100">
    <div class="col-12 col-md-10 col-lg-8 col-xl-10">
      <div
        class="card shadow-2-strong"
        style="border-radius: 1rem; background-color: rgba(238, 238, 238, 0.6)"
      >
        <div align="center">
          <div class="card-body">
            <h1 align="left">Bus</h1>
            <form #Form>
              <div class="mb-2">
                <div align="left" style="padding-left: 85px; font-size: 20px">
                  Search Bus
                </div>
                <input
                  type="text"
                  name="Bus"
                  class="col-md-10"
                  style="border-radius: 0.3rem; height: 50px"
                  required
                />
              </div>

              <button
                style="
                  border-radius: 0.3rem;
                  height: 50px;
                  margin-top: 3px;
                  margin-right: 2px;
                  font-size: 20px;
                  color: rgb(0, 0, 0);
                  background-color: transparent;
                "
                class="btn btn-dark mb-2 col-md-5"
                type="submit"
              >
                Search
              </button>

              <button
                style="
                  border-radius: 0.3rem;
                  height: 50px;
                  margin-top: -5px;
                  margin-left: 2px;
                  font-size: 20px;
                  color: rgb(0, 0, 0);
                  background-color: transparent;
                "
                class="btn btn-dark col-md-5"
                (click)="open(mymodal)"
                type="button"
              >
                Add
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Bus</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <span>Bus No.</span>
    <input
      style="width: 100%"
      type="text"
      placeholder="Enter Bus No."
      required
    /><br /><br />
    <div>
      <span>Stops</span>
      <textarea style="width: 100%" type="text" value="" required></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<div class="container py-3 h-80">
  <div class="row d-flex justify-content-center h-100">
    <div class="col-12 col-md-10 col-lg-8 col-xl-10">
      <div
        class="card shadow-2-strong"
        style="border-radius: 1rem; background-color: rgba(238, 238, 238, 0.6)"
      >
        <div align="center">
          <div class="card-body">
            <h1 align="left">Result</h1>
            <!-- {{}} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
